<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todoリスト</title>
</head>
<body>

<h1>新しいTodoを作成</h1>
<form action="#" th:action="@{/addTodo}" th:object="${todoForm}" method="post">
	<div>
		<label for="title">タイトル:</label>
		<input type="text" id="title" th:field="*{title}">
		<span style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
	</div>
	<div>
		<label for="description">説明:</label>
		<textarea id="description" th:field="*{description}"></textarea>
	</div>
	<div>
		<label for="status">ステータス:</label>
		<select id="status" th:field="*{status}">
			<option value="true">完了</option>
			<option value="false" selected>未完了</option>
		</select>
		<span style="color:red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
	</div>
	<div>
		<button type="submit">新規作成</button>
	</div>
</form>
<a href="/">一覧</a>
</body>
</html>
