<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todoリスト</title>
</head>
<body>

<h1>一覧画面</h1>
<!--追加 -->
<a href="/create">Todo作成</a>
<table border="2" cellpadding="6" cellspacing="5">
	<thead>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>説明</th>
			<th>ステータス</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="todo : ${todos}">
			<td th:text="${todo.id}">ID</td>
			<td th:text="${todo.title}">Title</td>
			<td th:text="${todo.description}">Description</td>
			<td th:text="${todo.status} ? '完了' : '未完了'">Status</td>
			<td><a th:href="@{/todo/edit/{id}(id=${todo.id})}">修正</a></td>
		</tr>
	</tbody>
</table>
</body>
</html>
